# Python-specific
*.pyc
__pycache__/
*.log
*.pot

# Django-specific
db.sqlite3
local_settings.py
/media/
/static/

# Environment-specific
.env
venv/
env/

# IDE-specific (uncomment if applicable)
#.idea/
#.vscode/

# Operating System-specific
.DS_Store
Thumbs.db